@font-face {
    /*フォントの名前*/
    font-family: "DSEG7Modern-Bold";
    /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
    src: url('../DSEG7Modern-Bold.woff') format('woff');
}

h1 {
    color: #e85838;
    font-size: 580%;
    font-family: "DSEG7Modern-Bold", serif;


    max-width: 500px;

    align-items: center;
    margin: 0 auto;

}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 90px;
        /*height: 750px;*/
        margin: 20px auto auto -20px;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 400%;
        /*height: 750px;*/
    }
}



