@font-face {
  /*フォントの名前*/
  font-family: "../roboto-v20-latin-900.woff";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url('../roboto-v20-latin-900.woff') format('woff');
}

.column {


  align-items: center;

  height: 106px;

  .flex {
    display: flex;


    margin: -7px auto auto auto;
    max-width: 409px;

    flex-direction: row;
    flex-wrap: wrap;

  }

  .DJ {
    color: white;
    font-size: 21px;
    padding-top: 14px;
    padding-right: 13px;
    font-family: "roboto-v20-latin-900.woff", sans-serif;


  }


  .name {
    color: #e85838;
    font-weight: bold;
    font-size: 40px;
    font-family: "roboto-v20-latin-900.woff", sans-serif;

    font-size-adjust: 1

  }

}


.flextimer {
  display: flex;


  margin: 0 auto;
  max-width: 500px;

  h2 {
    color: white;
    font-size: 30px;

    margin-top: -7px;

  }

}


.font-size {
  font-size: 20px;
  //padding-top: -/100px;
  //margin-top: -50px;
}


