@font-face {
  /*フォントの名前*/
  font-family: "../roboto-v20-latin-900.woff";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url('../roboto-v20-latin-900.woff') format('woff');
}


@font-face {
  /*フォントの名前*/
  font-family: "DSEG7Modern-Bold";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url('../DSEG7Modern-Bold.woff') format('woff');
}


.Countdown {
  color: white;


  margin: 0 auto;

  strong {
    font-family: "DSEG7Modern-Bold", serif;
    font-size: 30px;
  }

  span {
    font-size: 25px;
  }
}
